.menuWrapper{
    position: fixed;
    background-color: #fff;
    width: 250px;
    height: 100%;
}

.userSettings{
    width: 40px;
    height: 40px;
    transition: .3s;
    margin-right: 10px;
}
.userSettings:hover{
    scale: 1.05;
}

.settingsUser{
    margin-top: 15%;
    margin-left: 15%;
    font-size: 18px;
    display: flex;
    align-items: center;
    
}

.goPremium{
    margin: 10px 0px 20px 0px;
    margin-left: 15%;
}
.premiumBtn{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Comfortaa', sans-serif;
    border: 1px solid rgba(34, 165, 34, 0.9);
    color: rgba(34, 165, 34, 0.9);
    padding: 10px;
    width: 170px;
    border-radius: 25px;
    background: none;
    transition: .3s ease;
}
.premiumBtn:hover{
    background: rgba(34, 165, 34, 0.9);
    color: #fff;
}
.router{
    cursor: pointer;
    padding-left: 15%;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: .2s;
    height: 40px;
}
.router img{
    width: 20px;
    height: 20px;
    margin-right: 13px;
}
.router:hover{
    background: #d6d6d6;
}
.activeRouter{
    background: #d6d6d6;
    color: rgba(34, 165, 34, 0.9);
}



