.wrapperDay {
    position: absolute;
    margin-left: 260px;
    height: 100%;
    width: 1250px;
    background-color: #fff;
    font-family: 'Comfortaa', sans-serif;
}

.formTodo {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 20%;
    margin: 40px auto;
}

.inputValueWrapper {
    border-radius: 7px;
    height: 45px;
    width: 720px;
    display: flex;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(112, 112, 112, 0.2);
    -moz-box-shadow: 1px 1px 10px 2px rgba(112, 112, 112, 0.2);
    box-shadow: 1px 1px 10px 2px rgba(112, 112, 112, 0.2);
}

.inputValueWrapper input {
    border-radius: 7px;
    font-family: 'Comfortaa', sans-serif;
    border: none;
    width: 100%;
    transition: .3s ease-out;
    font-size: 16px;
    padding-left: 50px;
}

.inputValueWrapper input:focus,
.inputValueWrapper input:active {
    outline: none;
    border: 1px solid rgba(34, 165, 34, 0.9);
}


.inputValueWrapper input:hover {
    border: 1px solid rgba(34, 165, 34, 0.9)
}

.submitButton {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 670px;
}
.plusButton{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 15px;
}