.wrapperDay {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 260px;
    height: 100%;
    width: 1250px;
    background-color: #fff;
    font-family: 'Comfortaa', sans-serif;
}

.formTodo {
    position: absolute;
    bottom: 0;
    left: 20%;
    margin: 40px auto;
    
}

.inputValueWrapper {
    margin-left: 15px;
    border-radius: 7px;
    height: 45px;
    width: 720px;
    display: flex;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(112, 112, 112, 0.2);
    -moz-box-shadow: 1px 1px 10px 2px rgba(112, 112, 112, 0.2);
    box-shadow: 1px 1px 10px 2px rgba(112, 112, 112, 0.2);
}

.inputValueWrapper input {
    border-radius: 7px;
    font-family: 'Comfortaa', sans-serif;
    border: none;
    width: 100%;
    transition: .3s ease-out;
    font-size: 16px;
    padding-left: 50px;
}

.inputValueWrapper input:focus,
.inputValueWrapper input:active {
    outline: none;
    border: 1px solid rgba(34, 165, 34, 0.9);
}

.inputValueWrapper input:hover {
    border: 1px solid rgba(34, 165, 34, 0.9)
}

.submitButton {
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 685px;
}

.plusButton {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 30px;
}

.taskManager {
    width: 720px;
}

.Greetings {
    margin-top: 50px;
}

.Greetings h2 {
    margin: 10px;
}

.Greetings h2:nth-child(2) {
    color: gray;
}

.calendarDay h2,
h3 {
    margin: 0;
}

.calendarDay h2 {
    font-size: 40px;
}

.calendarDay h3:nth-child(1) {
    color: rgba(0, 0, 0, 0.5)
}

.calendarDay h3:nth-child(3) {
    color: rgba(0, 0, 0, 0.2)
}

.calendarDay {
    margin-top: 40px;
    text-align: center;
    width: 100px;
    margin-bottom: 30px;
}

.taskWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    overflow: auto;
    width: 100%;
    height: 500px;
    
}

.taskWindow::-webkit-scrollbar {
    width: 5px;
}

.taskWindow::-webkit-scrollbar-track {
    background: rgba(34, 130, 34, 0.1);
}

.taskWindow::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}
.lamp_day{
    z-index: 0;
    position: absolute;
    bottom: 0;
}
a:visited, a{
    text-decoration: none;
    color: #000;
}