body{
  background: rgba(34, 130, 34, 0.9);
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 5px;               
}

body::-webkit-scrollbar-track {
  background: rgba(34, 130, 34, 0.1);   
}

body::-webkit-scrollbar-thumb {
  background-color: white;    
  border-radius: 20px;       
}